// header
@import "base";
.app {
	overflow: hidden;
}

.header {
	height: var(--header-height);
	background-image: linear-gradient(0, #fe6433, #f53e2d);

	@include element("navbar") {
		display: flex;
		justify-content: space-between;
	}

	@include element("navbar-list") {
		display: flex;
		margin: 6px 0;
		list-style: none;
		padding-left: 0;
	}

	@include element("navbar-item") {
		color: var(--white-color);
		display: inline-flex;
		align-items: center;
		margin: 0 8px;
		min-height: 30px;
		position: relative;
		font-size: 1.4rem;
		font-weight: 300;

		@include modifier("separate") {
			&:after {
				content: "";
				display: block;
				position: absolute;
				height: 16px;
				border-left: 1px solid #fb9086;
				top: 50%;
				right: -9px;
				transform: translateY(-50%);
			}
		}

		@include modifier("has-qr") {
			cursor: pointer;

			&:hover {
				color: rgba(255, 255, 255, 0.7);

				.header__qr {
					display: block;
				}
			}
		}

		@include modifier("has-notification") {
			&:hover {
				.header__notification {
					display: block;
				}
			}
		}
	}

	@include element("navbar-user") {
		cursor: pointer;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		position: relative;

		&:hover {
			.header__navbar-user-menu {
				display: block;
			}
		}
	}

	@include element("navbar-user-img") {
		width: 22px;
		height: 22px;
		border-radius: 50%;
		border: 1px solid rgba(0, 0, 0, .1);
	}

	@include element("navbar-user-name") {
		margin-left: 4px;
		font-size: 1.4rem;
		font-weight: 400;
	}

	@include element("navbar-user-menu") {
		display: none;
		background-color: var(--white-color);
		border-radius: 2px;
		position: absolute;
		padding-left: 0;
		top: 130%;
		right: 0;
		box-shadow: 0 0 8px rgba(0, 0, 0, .2);
		width: 160px;
		z-index: 1;

		&::before {
			content: "";
			border-bottom: 15px;
			border-left: 15px;
			border-right: 15px;
			border-style: solid;
			position: absolute;
			top: -16px;
			right: 5%;
			border-color: transparent transparent var(--white-color);
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			top: -16px;
			right: 0px;
			width: 88%;
			height: 16px;
		}
	}

	@include element("navbar-user-menu-item") {
		list-style: none;
		
		&:first-child a{
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
		}

		&:last-child a{
			border-bottom-left-radius: 2px;
			border-bottom-right-radius: 2px;
		}

		a {
			color: var(--text-color);
			font-size: 1.4rem;
			padding: 8px 16px;
			display: block;
			text-decoration: none;

			&:hover {
				background-color: #fafafa;
			}
		}

		@include modifier("separate") {
			border-top: 1px solid rgba(0, 0, 0, .1);
		}
	}

	@include element("navbar-item-link") {
		cursor: pointer;
		display: flex;
		align-items: center;
		color: var(--white-color);
		text-decoration: none;

		&:hover {
			color: rgba(255, 255, 255, 0.7);
		}

		@include modifier("bold") {
			font-weight: 400;
		}
	}

	@include element("navbar-icon-link") {
		color: var(--white-color);
		text-decoration: none;

		&:hover {
			color: rgba(255, 255, 255, 0.7);
		}

		&:nth-child(1) {
			margin-left: 3px;
		}
	}

	@include element("navbar-icon") {
		font-size: 1.8rem;
		margin: 0 4px;
	}

	// Begin: Header QR Code
	@include element("qr") {
		display: none;
		width: 190px;
		background-color: var(--white-color);
		box-shadow: 0 0 8px rgba(0, 0, 0, .2);
		position: absolute;
		top: 150%;
		left: 0;
		padding: 8px;
		border-radius: 4px;
		animation: fadeIn ease-in 0.5s;
		z-index: 1;

		&::before {
			content: "";
			width: 100%;
			height: 30px;
			position: absolute;
			top: -10%;
			left: 0;
		}
	}

	@include element("qr-img") {
		width: 100%;
	}

	@include element("qr-apps") {
		display: flex;
		justify-content: space-between;
		margin-top: 5px;
	}

	@include element("qr-link") {
		&:first-child {
			margin-left: 11px;
		}

		&:last-child {
			margin-right: 11px;
		}
	}

	@include element("qr-download-app-img") {
		height: 16px;
	}
	// End: Header QR Code

	// Begin: Header Notification
	@include element("notification") {
		display: none;
		border-radius: 2px;
		position: absolute;
		top: 100%;
		right: 0;
		margin-top: 8px;
		background-color: var(--white-color);
		width: 404px;
		box-shadow: 0 0 8px rgba(0, 0, 0, .2);
		transform-origin: calc(100% - 25px) top;
		animation: headerNotificationShow ease-in 0.2s;
		will-change: opacity, transform;
		z-index: 1;

		&::before {
			content: "";
			border-bottom: 15px;
			border-left: 15px;
			border-right: 15px;
			border-style: solid;
			position: absolute;
			top: -16px;
			right: 5%;
			border-color: transparent transparent var(--white-color);
		}

		&::after {
			content: "";
			position: absolute;
			top: -18px;
			right: 0;
			width: 90px;
			height: 20px;
		}
	}

	@keyframes headerNotificationShow {
		from {
			opacity: 0;
			transform: scale(0);
		}

		to {
			opacity: 1;
			transform: scale(1);
		}
	}

	@include element("notification-header") {
		color: #999;
		font-weight: 400;
		font-size: 1.6rem;
		margin: 0 12px 0;
		height: 40px;
		line-height: 40px;
	}

	@include element("notification-list") {
		padding-left: 0;
	}

	@include element("notification-item") {
		&:hover {
			background-color: #f7f7f7;
		}

		@include modifier("viewed") {
			background-color: rgba(238, 77, 45, 0.1);
		}
	}

	@include element("notification-link") {
		display: flex;
		text-decoration: none;
		padding: 12px;
	}

	@include element("notification-img") {
		width: 48px;
		object-fit: contain;
	}

	@include element("notification-info") {
		margin-left: 12px;
	}

	@include element("notification-name") {
		display: block;
		font-size: 1.5rem;
		font-weight: 500;
		color: var(--text-color);
		line-height: 2rem;
	}

	@include element("notification-description") {
		display: block;
		font-size: 1.4rem;
		color: #888;
		line-height: 2rem;
		margin-top: 6px;
	}

	@include element("notification-footer") {
		text-align: center;
	}

	@include element("notification-footer-btn") {
		display: inline-block;
		text-decoration: none;
		color: var(--text-color);
		padding: 12px 16px;
		font-weight: 400;
	}
	// End: Header Notification

	@include element("logo") {
		width: 200px;
	}

	@include element("logo-link") {
		display: block;
		line-height: 0;
		color: transparent;
		text-decoration: none;
	}

	@include element("logo-img") {
		width: 150px;
	}

	@include element("search") {
		display: flex;
		align-items: center;
		border-radius: 2px;
		height: 40px;
		background-color: var(--white-color);
		flex: 1;
	}

	@include element("mobile-search") {
		display: none;
		padding: 0 8px;
	}

	@include element("mobile-search-icon") {
		font-size: 2.2rem;
		color: var(--white-color);
	}

	@include element("search-checkbox") {
		&:checked {
			~ .header__search {
				display: flex;
			}
		}
	}

	@include element("search-select") {
		cursor: pointer;
		display: flex;
		align-items: center;
		border-left: 2px solid #ccc;
		padding-left: 12px;
		position: relative;

		&:hover {
			.header__search-option {
				display: block;
			}
		}
	}

	@include element("search-input-wrap") {
		flex: 1;
		height: 100%;
		position: relative;
	}

	@include element("search-history") {
		display: none;
		position: absolute;
		top: calc(100% + 6px);
		left: 0;
		width: 95%;
		background-color: var(--white-color);
		border-radius: 2px;
		box-shadow: 0 0 8px rgba(0, 0, 0, .2);
		z-index: 1;
	}

	@include element("search-history-heading") {
		margin: 8px 12px;
		font-size: 1.4rem;
		color: #999;
		font-weight: 400;
	}

	@include element("search-history-list") {
		list-style: none;
		padding-left: 0;
		margin: 8px 0 0;
	}

	@include element("search-history-list-item") {
		font-size: 1.4rem;
		padding: 0 12px;
		height: 38px;
		line-height: 38px;

		&:hover {
			background-color: #fafafa;
		}

		&:last-child {
			border-bottom-left-radius: 2px;
			border-bottom-right-radius: 2px;
		}

		a {
			display: block;
			text-decoration: none;
			color: var(--text-color);
		}
	}

	@include element("search-input") {
		width: 100%;
		height: 100%;
		font-size: 1.4rem;
		color: var(--text-color);
		border: none;
		border-radius: 2px;
		outline: none;
		padding: 0 12px;

		&:focus {
			~ .header__search-history {
				display: block;
			}
		}
	}

	@include element("search-option") {
		animation: fadeIn ease-in .2s;
		list-style-type: none;
		position: absolute;
		right: 0;
		top: 150%;
		min-width: 150px;
		border-radius: 2px;
		box-shadow: 0 0 8px rgba(0, 0, 0, .2);
		padding: 0;
		display: none;
		z-index: 1;

		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 18px;
			position: absolute;
			top: -18px;
			left: 0;	
		}
	}

	@include element("search-option-item") {
		background-color: var(--white-color);
		padding: 12px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&:hover {
			background-color: #fafafa;
			cursor: pointer;
		}

		span {
			color: var(--text-color);
			font-size: 1.4rem;
		}

		i {
			color: var(--primary-color);
			font-size: 1.4rem;
			display: none;
		}

		@include modifier("active") {
			i {
				display: inline-block;
			}
		}

		&:first-child {
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
		}

		&:last-child {
			border-bottom-left-radius: 2px;
			border-bottom-right-radius: 2px;
		}
	}



	@include element("search-select-label") {
		color: var(--text-color);
		font-size: 1.4rem;
	}

	@include element("search-select-label-icon") {
		color: #4a4a4a;
		font-size: 1.4rem;
		margin: 0 16px;
	}

	@include element("search-btn") {
		background-color: var(--primary-color);
		border: none;
		border-radius: 2px;
		cursor: pointer;
		width: 60px;
		height: 30px;
		margin-right: 12px;
		outline: none;

		&:hover {
			background-color: #fb6445;
		}
	}

	@include element("search-btn-icon") {
		font-size: 1.2rem;
		color: var(--white-color);
	}

	@include element("cart") {
		width: 150px;
		text-align: center;

		&:hover {
			.header__cart-list {
				display: block;
			}
		}
	}

	@include element("cart-wrap") {
		position: relative;
		display: inline-block;
		padding: 0 8px;
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
	}

	@include element("cart-quantity") {
		position: absolute;
		top: -11px;
		right: -13px;
		padding: 1px 8px;
		font-size: 1.2rem;
		background-color: var(--white-color);
		color: var(--primary-color);
		border-radius: 11px;
		border: 2px solid #ee4d2d;
	}

	@include element("cart-list") {
		cursor: default;
		display: none;
		position: absolute;
		top: calc(100% + 15px);
		right: -18px;
		width: 450px;
		background-color: var(--white-color);
		border-radius: 2px;
		box-shadow: 0 0 8px rgba(0, 0, 0, .2);
		animation: fadeIn ease-in 0.5s;
		z-index: 1;

		&::before {
			content: "";
			position: absolute;
			top: -33px;
			right: 15px;
			border-width: 18px 20px;
			border-style: solid;
			border-color: transparent transparent #fff transparent;
			cursor: pointer;
		}

		@include modifier("empty") {
			padding: 25px 0;

			.header__cart-empty-img, .header__cart-list-empty-msg {
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	@include element("cart-empty-img") {
		display: none;
		width: 40%;
	}

	@include element("cart-list-empty-msg") {
		display: none;
		color: var(--text-color);
		font-size: 1.4rem;
		margin-top: 8px;
	}

	@include element("cart-icon") {
		color: var(--white-color);
		font-size: 2rem;
	}

	@include element("cart-heading") {
		font-size: 1.4rem;
		font-weight: 400;
		color: #999;
		text-align: left;	
		margin: 12px;
	}

	@include element("cart-list-item") {
		padding-left: 0;
		list-style: none;
		margin: 12px 0;
		max-height: 56vh;
		overflow-y: auto;
	}

	@include element("cart-item") {
		display: flex;
		align-items: center;

		&:hover {
			background-color: #f8f8f8;
		}
	}

	@include element("cart-item-img") {
		width: 42px;
    	height: 42px;
		margin: 12px;
		border: 1px solid var(--border-color);
	}

	@include element("cart-item-info") {
		width: 100%;
		margin-right: 12px;
	}

	@include element("cart-item-head") {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	@include element("cart-item-name") {
		font-size: 1.4rem;
		line-height: 2rem;
		max-height: 4rem;
		overflow: hidden;
		font-weight: 400;
		margin: 0;
		flex: 1;
		text-align: left;
		padding-right: 12px;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
	}

	@include element("cart-item-price") {
		font-size: 1.4rem;
		font-weight: 400;
		color: var(--primary-color);
	}

	@include element("cart-item-multiply") {
		margin: 0 4px;
		color: #757575;
	}

	@include element("cart-item-quantity") {
		color: #757575;
		font-size: 1.2rem;
	}

	@include element("cart-item-body") {
		display: flex;
		justify-content: space-between;
		margin-top: 6px;
	}

	@include element("cart-item-description") {
		color: #757575;
		font-size: 1.3rem;
	}

	@include element("cart-item-remove") {
		color: var(--text-color);
		font-size: 1.4rem;

		&:hover {
			cursor: pointer;
			color: var(--primary-color);
		}
	}

	@include element("cart-view") {
		margin: 0 12px 12px 0;
		float: right;

		&:hover {
			background-color: #f05d51;
		}
	}

	@include element("sort-bar") {
		display: none;
		position: fixed;
		top: var(--header-height);
		left: 0;
		right: 0;
		height: var(--header-sort-bar-height);
		background-color: var(--white-color);
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
	}
	@include element("sort-item") {
		list-style: none;
		flex: 1;
		position: relative;

		&:not(:first-child)::before {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			height: 60%;
			border-left: 1px solid #e5e5e5;
		}
	}

	@include element("sort-item-link") {
		font-size: 14px;
		text-decoration: none;
		text-align: center;
		color: var(--text-color);
		height: 100%;
		display: block;
		line-height: var(--header-sort-bar-height);

		&--active {
			color: var(--primary-color);
		}
	}

}

// Begin: Auth Form Modal
.auth-form {
	background-color: var(--white-color);
	border-radius: 4px;
	overflow: hidden;
	width: 500px;

	@include element("container") {
		padding: 32px;
	}

	@include element("header") {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	@include element("heading") {
		font-size: 2.2rem;
		font-weight: 400;
		color: var(--text-color);
		line-height: 3.2rem;
		margin: 0;
	}

	@include element("switch-btn") {
		cursor: pointer;
		font-size: 1.6rem;
		color: var(--primary-color);
	}

	@include element("input") {
		border: 1px solid var(--border-color);
		border-radius: 3px;
		width: 100%;
		height: 40px;
		margin-top: 16px;
		padding: 0 12px;
		font-size: 1.4rem;
		outline: none;

		&:focus {
			border-color: #777;
		}
	}

	@include element("aside") {
		margin: 18px 0;
	}

	@include element("policy-text") {
		font-size: 1.2rem;
		line-height: 1.6rem;
		text-align: center;
		margin: 0;
	}

	@include element("text-link") {
		color: var(--primary-color);
		text-decoration: none;
	}

	@include element("controls") {
		display: flex;
		justify-content: flex-end;
		margin-top: 60px;
	}

	@include element("socials") {
		background-color: #f5f5f5;
		padding: 16px 32px;
		display: flex;
		justify-content: space-between;

		@include modifier("facebook") {
			color: var(--white-color);
			background-color: #3a5a9b;
		}

		@include modifier("google") {
			color: var(--white-color);
			background-color: #ea4335;
		}
	}

	@include element("socials-icon") {
		font-size: 1.6rem;
	}

	@include element("help") {
		display: flex;
		justify-content: flex-end;
	}

	@include element("help-link") {
		text-decoration: none;
		font-size: 1.2rem;

		@include modifier("forgot") {
			color: var(--primary-color);
		}

		@include modifier("need-help") {
			color: #939393;
		}
	}

	@include element("help-separate") {
		display: block;
		border-left: 1px solid var(--border-color);
		margin: 0 16px;
	}
}
// End: Auth Form Modal

// Begin: Header with search
.header-with-search {
	display: flex;
	align-items: center;
	height: var(--header-with-search-height);
	margin: 0 8px;
}
// End: Header with search


// Begin: Homepage
.homepage {
	padding-top: 36px;
	background-color: #f5f5f5;

	.category {
		border-radius: 2px;
		background-color: var(--white-color);

		@include element("heading") {
			color: var(--text-color);
			margin: 0;
			font-size: 1.6rem;
			padding: 10px 22px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}

		@include element("heading-icon") {
			font-size: 1.4rem;
			margin-right: 4px;
		}
	}

	.category-list {
		padding-left: 0;
		list-style: none;
		margin: 0;
	}

	.category-list-item {
		position: relative;

		&:not(:first-child)::after {
			content: "";
			position: absolute;
			top: 0;
			left: 22px;
			right: 22px;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
		}

		@include element("link") {
			position: relative;
			right: 0;
			display: block;
			font-size: 1.4rem;
			color: var(--text-color);
			text-decoration: none;
			padding: 10px 22px;
			transition: right linear .1s;

			&:hover {
				right: -4px;
				color: var(--primary-color);
			}
		}

		@include modifier("active") {
			.category-list-item__link {
				color: var(--primary-color);

				&::before {
					position: absolute;
					top: 50%;
					left: 10px;
					transform: translateY(-50%);
					content: '';
					border: 5px solid;
					border-color: transparent transparent transparent var(--primary-color);
				}
			}
		}
	}

	.mobile-category {
		display: none;

		@include element("list") {
			display: flex;
			max-width: 100%;
			overflow-x: auto;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		@include element("item") {
			list-style: none;
			flex-shrink: 0;

			&:not(:last-child) {
				margin-right: 10px;
			}

			&:nth-of-type(3n + 1) .mobile-category__link {
				background-color: #87afd8;
			}

			&:nth-of-type(3n + 2) .mobile-category__link {
				background-color: #76c9bd;
			}

			&:nth-of-type(3n + 3) .mobile-category__link {
				background-color: #88cf81;
			}
		}

		@include element("link") {
			display: block;
			width: 115px;
			height: calc((2rem + 10px) * 2);
			padding: 5px 8px;
			text-decoration: none;
			color: var(--white-color);
			text-align: center;
			border-radius: 2px;
			font-size: 1.4rem;
			line-height: calc(2rem + 5px);
			overflow: hidden;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			user-select: none;
			-webkit-user-select: none;
			-webkit-tap-highlight-color: transparent;
		}
	}

	.filter {
		position: relative;
		border-radius: 2px;
		display: flex;
		align-items: center;
		background-color: rgba(0, 0, 0, .03);
		padding: 12px 22px;

		@include element("label") {
			color: #555;
			font-size: 1.4rem;
			margin-right: 12px;
		}

		@include element("btn") {
			min-width: 120px;
			margin-right: 12px;
		}
	}

	.filter-pagination {
		display: flex;
		align-items: center;
		margin-left: auto;

		@include element("wrap") {
			font-size: 1.4rem;
			color: var(--text-color);
			margin-right: 22px;
		}

		@include element("wrap-current-page") {
			color: var(--primary-color);
		}

		@include element("control") {
			border-radius: 2px;
			overflow: hidden;
			display: flex;
			width: 68px;
			height: 34px;
		}

		@include element("control-btn") {
			display: flex;
			flex: 1;
			background-color: var(--white-color);
			text-decoration: none;

			&:first-child {
				border: 1px solid #eee;
			}

			i {
				color: #4a4a4a;
				margin: auto;
			}

			@include modifier("disable") {
				background-color: #f9f9f9;
				cursor: default;

				i {
					color: #ccc;
				}
			}
		}
	}

	.product {
		margin-bottom: 10px;

		@include element("pagination") {
			margin: 30px 0;
		}
	}

	.product-item {
		display: block;
		text-decoration: none;
		position: relative;
		margin-top: 10px;
		background-color: var(--white-color);
		border-radius: 2px;
		box-shadow: 0 0.1rem 0.125rem 0 rgba(0, 0, 0, .1);
		transition: transform linear 0.1s;
		will-change: transform;

		&:hover {
			transform: translateY(-1px);
			box-shadow: 0 0.1rem 2rem 0 rgba(0, 0, 0, 0.05);
		}

		@include element("img") {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: top center;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
			padding-top: 100%;
		}

		@include element("name") {
			color: var(--text-color);
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			text-overflow: ellipsis;
			font-size: 1.4rem;
			font-weight: 400;
			line-height: 1.8rem;
			height: 3.6rem;
			overflow: hidden;
			margin: 10px;
		}

		@include element("price") {
			display: flex;
			align-items: baseline;
			flex-wrap: wrap;
		}

		@include element("price-old") {
			color: #666;
			font-size: 1.4rem;
			margin-left: 10px;
			text-decoration: line-through;
		}

		@include element("price-new") {
			color: var(--primary-color);
			margin-left: 10px;
			font-size: 1.6rem;
		}

		@include element("action") {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 10px;
		}

		@include element("heart") {
			font-size: 1.2rem;
		}

		@include element("heart-icon") {
			@include modifier("normal") {
			
			}
			
			@include modifier("like") {
				display: none;
				color: rgb(245, 61, 47);
			}
		}

		@include element("heart-liked") {
			.product-item__heart-icon--like {
				display: inline-block;
			}

			.product-item__heart-icon--normal {
				display: none;
			}
		}

		@include element("rating") {
			font-size: 1rem;
			transform: scale(0.8);
			transform-origin: right;
			color: #d5d5d5;
			margin-left: auto;
		}

		@include element("rating-icon") {
			@include modifier("gold") {
				color: var(--star-gold-color);
			}
		}

		@include element("sold") {
			font-size: 1.2rem;
			color: var(--text-color);
			margin-left: 6px;
		}

		@include element("origin") {
			display: flex;
			justify-content: space-between;
			margin: 0 10px;
			color: #595959;
			font-size: 1.2rem;
			font-weight: 300;
			padding-bottom: 10px;
		}

		@include element("ribbon-favorite") {
			position: absolute;
			top: 10px;
			left: -4px;
			color: var(--primary-color);
			background-color: currentColor;
			font-size: 1.2rem;
			font-weight: 500;
			display: flex;
			align-items: center;
			padding: 0 4px;
			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;

			&::after {
				content: "";
				position: absolute;
				bottom: -3px;
				left: 0;
				border-top: 3px solid currentColor;
				border-left: 3px solid transparent;
				filter: brightness(60%);
			}

			i {
				color: var(--white-color);
				font-size: 0.9rem;
				margin-right: 4px ;
			}

			span {
				color: var(--white-color);
			}
		}

		@include element("ribbon-sale-off") {
			position: absolute;
			top: 0;
			right: 0;
			width: 40px;
			background-color: rgba(255, 216, 64, 0.8);
			text-align: center;
			border-top-right-radius: 2px;

			&::after {
				content: "";
				position: absolute;
				bottom: -5px;
				left: 0;
				border-width: 0 20px 5px;
				border-style: solid;
				border-color: transparent rgba(255, 216, 64, 0.8) transparent;
			}
		}

		@include element("sale-off-percent") {
			color: #ee4d2d;
			font-weight: bold;
			font-size: 1.2rem;
		}

		@include element("sale-off-label") {
			color: var(--white-color);
			font-size: 1.2rem;
		}
	}
}
// End: Homepage

// Begin: Footer
.footer {
	border-top: 4px solid var(--primary-color);
	padding-top: 12px;

	@include element("heading") {
		margin-top: 12px;
		font-size: 1.3rem;
		text-transform: uppercase;
	}

	@include element("list") {
		padding-left: 0;
		list-style: none;
	}

	@include element("list-item-link") {
		display: flex;
		align-items: center;
		text-decoration: none;
		font-size: 1.4rem;
		color: #737373;
		padding: 4px 0;

		&:hover {
			color: var(--primary-color);
		}
	}

	@include element("list-item-icon") {
		font-size: 1.7rem;
		margin-right: 6px;
	}

	@include element("download") {
		display: flex;
	}

	@include element("qr-img") {
		width: 80px;
	}

	@include element("download-apps") {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	@include element("download-app-link") {
		text-decoration: none;
		color: transparent;
	}

	@include element("download-app-img") {
		height: 20px;
		margin-left: 6px;
	}

	@include element("copyright") {
		color: #737373;
		background-color: #f5f5f5;
		text-align: center;
		margin: 24px 0 0 0;
		padding: 10px;
		font-size: 1.2rem;
	}
}
// End: Footer
