// header
@import "base";

.header {
	height: 120px;
	background-image: linear-gradient(0, #fe6433, #f53e2d);

	@include element("navbar") {
		display: flex;
		justify-content: space-between;
	}

	@include element("navbar-list") {
		margin-top: 8px;
		list-style: none;
		padding-left: 0;
	}

	@include element("navbar-item") {
		color: var(--white-color);
		display: inline-flex;
		align-items: center;
		margin: 0 8px;
		min-height: 30px;
		position: relative;
		font-size: 1.5rem;
		font-weight: 300;

		@include modifier("separate") {
			&:after {
				content: "";
				display: block;
				position: absolute;
				height: 16px;
				border-left: 1px solid #fb9086;
				top: 50%;
				right: -9px;
				transform: translateY(-50%);
			}
		}

		@include modifier("has-qr") {
			cursor: pointer;

			&:hover {
				color: rgba(255, 255, 255, 0.7);

				.header__qr {
					display: block;
				}
			}
		}

		@include modifier("has-notification") {
			&:hover {
				.header__notification {
					display: block;
				}
			}
		}
	}

	@include element("navbar-item-link") {
		cursor: pointer;
		display: flex;
		align-items: center;
		color: var(--white-color);
		text-decoration: none;

		&:hover {
			color: rgba(255, 255, 255, 0.7);
		}

		@include modifier("bold") {
			font-weight: 400;
		}
	}

	@include element("navbar-icon-link") {
		color: var(--white-color);
		text-decoration: none;

		&:hover {
			color: rgba(255, 255, 255, 0.7);
		}
	}

	@include element("navbar-icon") {
		font-size: 1.8rem;
		margin: 0 4px;
	}

	// Begin: Header QR Code
	@include element("qr") {
		display: none;
		width: 190px;
		background-color: var(--white-color);
		position: absolute;
		top: 150%;
		left: 0;
		padding: 8px;
		border-radius: 4px;
		animation: fadeIn ease-in 0.5s;

		&::before {
			content: "";
			width: 100%;
			height: 30px;
			position: absolute;
			top: -10%;
			left: 0;
		}
	}

	@include element("qr-img") {
		width: 100%;
	}

	@include element("qr-apps") {
		display: flex;
		justify-content: space-between;
		margin-top: 5px;
	}

	@include element("qr-link") {
		&:first-child {
			margin-left: 11px;
		}

		&:last-child {
			margin-right: 11px;
		}
	}

	@include element("qr-download-app-img") {
		height: 16px;
	}
	// End: Header QR Code

	// Begin: Header Notification
	@include element("notification") {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		margin-top: 20px;
		background-color: var(--white-color);
		width: 404px;
		border: 1px solid #d3d3d3;
		transform-origin: calc(100% - 20px) top;
		animation: headerNotificationShow ease-in 0.2s;
		will-change: opacity, transform;

		&::before {
			content: "";
			border-bottom: 20px;
			border-left: 20px;
			border-right: 20px;
			border-style: solid;
			position: absolute;
			top: -20px;
			right: 5%;
			border-color: transparent transparent var(--white-color);
		}

		&::after {
			content: "";
			position: absolute;
			top: -22px;
			right: 0;
			width: 90px;
			height: 25px;
		}
	}

	@keyframes headerNotificationShow {
		from {
			opacity: 0;
			transform: scale(0);
		}

		to {
			opacity: 1;
			transform: scale(1);
		}
	}

	@include element("notification-header") {
		color: #999;
		font-weight: 400;
		font-size: 1.6rem;
		margin: 0 12px 0;
		height: 40px;
		line-height: 40px;
	}

	@include element("notification-list") {
		padding-left: 0;
	}

	@include element("notification-item") {
		&:hover {
			background-color: #f7f7f7;
		}

		@include modifier("viewed") {
			background-color: rgba(238, 77, 45, 0.1);
		}
	}

	@include element("notification-link") {
		display: flex;
		text-decoration: none;
		padding: 12px;
	}

	@include element("notification-img") {
		width: 48px;
		object-fit: contain;
	}

	@include element("notification-info") {
		margin-left: 12px;
	}

	@include element("notification-name") {
		display: block;
		font-size: 1.5rem;
		font-weight: 500;
		color: var(--text-color);
		line-height: 2rem;
	}

	@include element("notification-description") {
		display: block;
		font-size: 1.4rem;
		color: #888;
		line-height: 2rem;
		margin-top: 6px;
	}

	@include element("notification-footer") {
		text-align: center;
	}

	@include element("notification-footer-btn") {
		display: inline-block;
		text-decoration: none;
		color: var(--text-color);
		padding: 12px 16px;
		font-weight: 400;
	}
	// Begin: Header Notification
}
