// header
@import "base";

.header {
	height: 120px;
	background-image: linear-gradient(0, #fe6433, #f53e2d);

	@include element("navbar") {
		display: flex;
		justify-content: space-between;
	}

	@include element("navbar-list") {
		margin-top: 8px;
		list-style: none;
		padding-left: 0;
	}

	@include element("navbar-item") {
		color: var(--white-color);
		display: inline-flex;
		align-items: center;
		margin: 0 8px;
		min-height: 20px;
		position: relative;
		font-size: 1.5rem;
		font-weight: 300;

		@include modifier("separate") {
			&:after {
				content: "";
				display: block;
				position: absolute;
				height: 16px;
				border-left: 1px solid #fb9086;
				top: 50%;
				right: -9px;
				transform: translateY(-50%);
			}
		}

		@include modifier("has-qr") {
			cursor: pointer;

			&:hover {
				color: rgba(255, 255, 255, .7);

				.header__qr {
					display: block;
				}
			}
		}
	}

	@include element("navbar-item-link") {
		cursor: pointer;
		display: flex;
    	align-items: center;
		color: var(--white-color);
		text-decoration: none;

		&:hover {
			color: rgba(255, 255, 255, .7);
		}

		@include modifier("bold") {
			font-weight: 400;
		}
	}

	@include element("navbar-icon-link") {
		color: var(--white-color);
		text-decoration: none;

		&:hover {
			color: rgba(255, 255, 255, .7);
		}
	}

	@include element("navbar-icon") {
		font-size: 1.8rem;
		margin: 0 4px;
	}

	// Header QR Code
	@include element("qr") {
		display: none;
		width: 190px;
		background-color: var(--white-color);
		position: absolute;
		top: 150%;
		left: 0;
		padding: 8px;
		border-radius: 4px;
		animation: fadeIn ease-in .5s;
		
		&::before {
			content: '';
			width: 100%;
			height: 30px;
			position: absolute;
			top: -10%;
			left: 0;
		}
	}

	@include element("qr-img") {
		width: 100%;
	}

	@include element("qr-apps") {
		display: flex;
		justify-content: space-between;
		margin-top: 5px;
	}

	@include element("qr-link") {
		&:first-child {
			margin-left: 11px;
		}

		&:last-child {
			margin-right: 11px;
		}
	}

	@include element("qr-download-app-img") {
		height: 16px;
	}
}
