// Mobile & Tablet
@media (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }

    .hide-on-mobile-tablet {
        display: none !important;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;

        &__cart-list {
            position: fixed;
            top: var(--header-height);
            right: 0;
            width: 100%;
            padding: 0 calc((100% - 644px) / 2);

            &::before {
                right: 154px;
                border-color: transparent;
            }
        }

        &__sort-bar {
            display: flex;
        }
    }

    .homepage {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
        padding-top: 10px;

        .mobile-category {
            display: block;
        }
    }
}

// Tablet
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none !important;
    }

    .header {
        &__cart {
            width: 88px;
            text-align: right;
        }
    }

    .header-with-search {
        margin: 0;
    }
}

// Mobile
@media (max-width: 739px) {
    .homepage, .footer {
        .row.sm-gutter {
            margin: 0;
        }
    }

    .hide-on-mobile {
        display: none !important;
    }

    .header-with-search {
        margin: 0px 20px;
        justify-content: space-between;
    }

    .header {
        &__logo {
            width: unset;    
        }

        &__logo-img {
            width: 120px;    
        }

        &__cart {
            width: unset;    
        }

        &__search {
            box-shadow: 0 0 8px rgba(0, 0, 0, .2);
            position: fixed;
            top: var(--header-height);
            left: 0;
            right: 0;
            height: 46px;
            padding: 0 16px;
            z-index: 1;
            animation: mobileSearchFadeIn linear 0.3s;
            display: none;
        }

        &__search-history {
            position: fixed;
            top: calc(var(--header-height) + var(--header-sort-bar-height));
            width: 100%; 
        }

        &__mobile-search {
            display: block;
        }

        @keyframes mobileSearchFadeIn {
            from {
                opacity: 0;
                top: calc(var(--header-height) / 2);
            }

            to {
                opacity: 1;
                top: var(--header-height);
            }
        }
    }

    .footer {
        &__heading {
            text-align: center;
        }

        &__list-item-link, &__download {
            justify-content: center;
        }
    }

    .pagination-item {
        font-size: 1.4rem;

        &__link {
            min-width: 18px;
            height: 24px;
            line-height: 24px;
        }
    }
}